.image {
    width: 1591px;
    height: 4096px;
  }
  
  .image .portfolio-landing {
    position: fixed;
    width: 1591px;
    height: 4096px;
    top: 0;
    left: 0;
    object-fit: cover;
  }